@import "tailwindcss";


body {
  font-family: 'Dosis', sans-serif;
}

@font-face {
  font-family: "Dosis";
  src: url("./assets/fonts/Dosis-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.row{
    
    @apply flex py-4 items-center flex-wrap;

}

.container {
  @apply mx-auto px-12 py-4; 
       
}
