@import "tailwindcss";
/* tailwindcss config file */
@config "../tailwind.config.js";

body {
  font-family: 'Dosis', sans-serif;
}

@font-face {
  font-family: "Dosis";
  src: url("./assets/fonts/Dosis-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.row{
    
    @apply flex py-4 items-center flex-wrap;

}


.container {
  @apply mx-auto px-10 py-4; 
       
}

/* خلى الـ dots جوا الصورة */
.slick-dots {
  position: absolute !important;
  bottom: 30px !important; /* المسافة من تحت */
  left: 30% !important;
  transform: translateX(-50%);
  z-index: 15;
}

/* لون و حجم النقاط */
.slick-dots li button:before {
  color: black !important;   /* غيّر اللون حسب الخلفية */
  font-size: 6px !important;
}




.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border-left: 4px solid #35AFA0;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 













/* Style slick arrows */
/* غير لون السهم */
/* اظهر السهام وخليهم قدام */
.best-sellers-slider .slick-prev,
.best-sellers-slider .slick-next {
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: white !important;
  border-radius: 50% !important;
  width: 35px !important;
  height: 35px !important;
  z-index: 50 !important;
}

/* لون السهم */
.best-sellers-slider .slick-prev:before,
.best-sellers-slider .slick-next:before {
  color: black !important;
  font-size: 23px !important;
  opacity: 1 !important;
}

/* مكان الأسهم */
.best-sellers-slider .slick-prev {
  left: -45px !important;
}
.best-sellers-slider .slick-next {
  right: -45px !important;
}



