@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Inter:wght@400&display=swap");

button {
  cursor: pointer;
}
.footerContainer {
  padding-inline: 112px;
  margin-inline: auto;
}

/*products modal scrollbar adjustment*/
.products-modal {
  scrollbar-width: thin;
  scrollbar-color: #35afa0 transparent;
}

.products-modal::-webkit-scrollbar {
  width: 8px;
}

.products-modal::-webkit-scrollbar-track {
  background: transparent;
}

.products-modal::-webkit-scrollbar-thumb {
  background-color: #35afa0;
  border-radius: 10px;
}
